  /* Custom properties */
  :root{
    --white: #FFFFFF;
    --black: #000000;
    --bright-blue: #0061FF;
    --light-light-blue: #B4D0E7;
    --light-blue: #0093CE;
    --green: #A2D39B;
    --light-green: #D1E9CD;
    --bordeaux: #61082B;
    --grey: #F5F5F5;
    --red: #D5001F;
    --bright-red: #FF1C1C;
    --dark-blue: #0D2481;
    --yellow: #FFD830;
  }
  
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Generics */
  body {
    font-family: 'Open Sans', sans-serif;
    color: var(--black);
  }


  /* Utils */
  .large-container {
    max-width: 950px;
    margin: 0 auto;
  }

  .small-container {
    max-width: 800px;
    margin: 0 auto;
  }

  header{
    background-color: var(--dark-blue);
  }

  /* Navbar */
  .navbar{
    height: 80px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;

  }

  .navbar-part-left{
    flex-basis: 30%;
    background-color: red;

  }

  .navbar-part-center{
    flex-basis: 40%;
    background-color: orange;

  }

  .navbar-part-right{
    flex-basis: 30%;
    background-color: red;
  }

  /* Jumbotron */
  .jumbotron{
    height: 400px;
    background-color: var(--light-light-blue);
  }

  .jumbotron-title{
    width: 90%;
    height: 150px;
    background-color: red;
    margin-bottom: 20px;
  }

  .jumbotron-content{
    width: 100%;
    display: flex;
    gap: 20px;
  }

  .jumbotron-content-description{
    background-color: orange;
    flex-basis: 40%;
    height: 200px;
  }

  .jumbotron-content-image{
    background-color: green;
    flex-basis: 60%;
    height: 280px;
  }


 







  